.Hamburguer{
    display: block;
    width:30px;
    height: 30px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
    float: left;

    .Hamburguer__icon {
        position: relative;
        width: 100%;
        height: 100%;
        color: beige;
        background: transparent;

        .Hamburguer__icon__line {
            width: 100%;
            height: 5px;
            border-radius: 3px;
            margin-bottom: 3px;
            background: currentColor;
        }

        :active{
            color: rgb(167, 126, 25);
            box-shadow: inset 0 0 2px black;
            cursor: pointer;
        }
    }

    :hover{
        color: goldenrod;
        cursor: pointer;
    }
    
    :active .Hamburguer__icon__line{
        color: rgb(167, 126, 25);
        box-shadow: inset 0 0 1px black;
        cursor: pointer;
    }
}