.Hamburguer{
    display: inline-block;
    width:30px;
    height: 30px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    .Hamburguer__icon {
        position: relative;
        width: 100%;
        height: 100%;
        color: rgb(236, 236, 236);
        background: transparent;
        transition: all .2s;


        .Hamburguer__icon__line {
            width: 100%;
            height: 5px;
            border-radius: 3px;
            margin-bottom: 3px;
            background: currentColor;
        }

        :active{
            cursor: pointer;
        }
    }

    :hover{
        color: rgb(84, 151, 202);
        cursor: pointer;
    }
    
    :active .Hamburguer__icon__line{
        color: rgb(56, 116, 161);
        box-shadow: inset 0 0 1px black;
        cursor: pointer;
    }


}


.Active{
    display: inline-block;
    width:30px;
    height: 30px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    .Hamburguer__icon {
        position: relative;
        width: 100%;
        height: 100%;
        color: rgb(206, 255, 196);
        background: transparent;
        transition: all .2s;


        .Hamburguer__icon__line {
            width: 100%;
            height: 5px;
            border-radius: 3px;
            margin-bottom: 3px;
            background: currentColor;
        }

        :active{
            cursor: pointer;
        }
    }

    :hover{
        color: rgb(84, 151, 202);
        cursor: pointer;
    }
    
    :active .Hamburguer__icon__line{
        color: rgb(56, 116, 161);
        box-shadow: inset 0 0 1px black;
        cursor: pointer;
    }

}
