.Main{
    grid-area: main;
    display: inline-block;
    width:100%;
    max-height: 100vh;

    margin: 0;
    box-sizing: border-box;
    background-image:url('../img/noise.png'),linear-gradient(to right, #2C5364, #203A43, #0F2027);
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    letter-spacing: .05rem;
    overflow-Y: scroll;


    .Main__content {
        width: 80%;
        margin: 1.5rem auto;
        background-color: rgb(250, 251, 252);
        padding: 1rem;
        border-radius: 15px;
        box-shadow: 0 0 15px 5px rgba(15, 32, 39,.5);
    }
}