.Main{
    
    grid-area: main;
    display: inline-block;
    width:100%;
    max-height: 100vh;

    margin: 0;
    box-sizing: border-box;
    background-image:url('../img/noise.png'),linear-gradient(to right, #2C5364, #203A43, #0F2027);
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    letter-spacing: .05rem;
    overflow-Y: scroll;

    .title{
        text-shadow: 0 0 3px rgba(0,0,0,0.5);
        margin-bottom: -1rem;
    }

    .subtitle{
        text-shadow: 0 0 5px rgba(68, 67, 66, 0.3);
        margin-bottom: -1rem;
        text-align: left;
        margin-left: 2rem;
        font-family: fantasy;
    }

    .Main__content {
        position: relative;
        width: 80%;
        margin: 1.5rem auto;
        background-color: rgb(250, 251, 252);
        padding: 1rem;
        border-radius: 15px;
        box-shadow: 0 0 15px 5px rgba(15, 32, 39,.5);
        
        hr {
            margin-top: 2rem;
        }

        .copyright{
            color: rgb(80, 79, 79);
            font-size: 1rem;
        }
    }

    .Blog_title{
        font-family: 'Charmonman', cursive;
        position : absolute;
        width: 50%;
        height: auto;
        margin: 0 auto;
        top: 12%;
        z-index: 5;
        left: 0;
        right: 0;
        padding: 1rem;
        color: beige;
        text-shadow: 0 0 5px #0F2027;
        border: goldenrod px solid;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 10px 0 #333,
                    0 0 10px 3px rgb(29, 28, 28) inset;

        
        
        h1{
            font-family: $font-0;
            color: beige;
            font-weight: bold;
            text-shadow: -3px 3px 0 $color-0;
            font-size: 1.8rem;
            letter-spacing: 0.4rem;
            margin-bottom: 1rem;

        }

        .Blog_title_subtitle{
            font-family: $font-0;
            font-size: 1.5rem;
            line-height: 1;
            margin-top: -0.5rem;
            margin-bottom: 0.6rem;
            font-style: italic;       
        }


        h2:nth-child(3){
            font-family: $font-0;
            color: beige;
            font-weight: 100;
            letter-spacing: 0.8rem;
            font-size: 1.7rem;
            text-shadow: -2px 2px 0 $color-0;
            font-style: italic;
            margin: 0 0 0 0;
            text-decoration: underline;
        }

        h2:nth-child(4){
            font-family: $font-0;
            color: rgb(205, 255, 182);;
            letter-spacing: .3rem;
            font-weight: bold;
            text-shadow: -3px 3px 0 $color-0;
            font-size: 2.1rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
            text-transform: uppercase;
        }

        h3{
            font-family: $font-0;
            color: beige;
            text-shadow: 0 0 8px $color-0;
            font-style: oblique; 
        }
    }

    .img{
        width: 100%;
        height: auto;
        border-radius: 15px;
        filter: brightness(110%)
    }
}

