.Side_bar {
  background: $cfg-0;
  color: rgb(246, 248, 250);
  grid-area: nav-bar;
  display: inline-block;
  min-width: 100px;
  max-width: 250px;
  width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  font-size: 1.2rem;
  overflow-y: scroll;
  margin: 0;
  transition: all 0.2s;

  .clicked {
    color: rgb(206, 255, 196);
    background: $gradient-2;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      box-sizing: border-box;

      width: 100%;
      display: block;
      float: left;
      cursor: pointer;
      padding-bottom: 0.2rem;
      background: $gradient-0;
      transition: all 0.2s;
      padding: 1em;

      &:hover {
        color: rgb(84, 151, 228);
        background: $cfg-2;
      }

      &:active {
        background: $cfg-1;
      }
    }
  }
}
